.*
!.gitignore

*~
\#*\#
.elc
auto-save-list
.\#*

elpa*
backups
sites
projects
ext_apps
clients

private*

dotfiles/emacs.d/eshell
dotfiles/emacs.d/bookmarks
dotfiles/emacs.d/session.*
dotfiles/emacs.d/jabber-*