[submodule "emacs.d/vendor/coffee-mode"]
	   path = emacs.d/vendor/coffee-mode
	   url = git://github.com/defunkt/coffee-mode.git
[submodule "emacs.d/vendor/yasnippet"]
	   path = emacs.d/vendor/yasnippet
	   url = git://github.com/capitaomorte/yasnippet.git
[submodule "emacs.d/vendor/pony-mode"]
	   path = emacs.d/vendor/pony-mode
	   url = git://github.com/davidmiller/pony-mode.git